@{
    ViewData["Title"] = "Me Contacter";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Anthony Di persio<br />
    116 rue du printemps<br />
    59650 Villeneuve d'Ascq<br />
    <abbr title="Phone">P:</abbr>
    +33 6 59786502
</address>

<address>
    <strong>Cont@ct:</strong> <a href="mailto:dipersio.a@gmail.com">Support@example.com</a><br />
</address>
