@using FicheRecette.Model;
@model List<NbPersonne>;
@{

}
<div>
    <h1>Liste Nb de Personne <a asp-action="AjouterNbPersonne" asp-controller="Recette">Ajouter un nb de personnes.</a></h1>
    @if (Model.Count == 0)
    {
        <div>
            Aucun nombre de personne
        </div>
    }
    @foreach (NbPersonne n in Model)
    {
        <div>
            @n.ChoixNbPersonne
            <a asp-action="SupprimerNbPersonne" asp-controller="Recette" asp-route-id="@n.Id">Supprimer</a>
        </div>
    }
</div>
@*////pour Ajouter un Nombre de personne*@
<div>
    <h1>Ajouter un Nombre de personnes</h1>
    <form asp-action="RegisterNbPersonne" asp-controller="Recette" method="post">
        <div>
            <label>Nb de Personnes: </label>
            <input type="number" name="ChoixNbPersonne" />
        </div>
        <div>
            <button type="submit">Ajouter</button>
        </div>
    </form>
</div>