<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>La Casa del Tonino</title>
    <link rel="stylesheet" href="~/css/FicheRecette.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="row">
                <div class="col-lg-12"><h1>Benvenuto nella casa di Tonino</h1></div>
            </div>
            <div class="container">

                @*<a asp-area="" asp-controller="Recette" asp-action="ListeRecette" class=""><img src="~/images/logo.png" /></a>*@
                <div class="row barreBouton">
                    <div class="col-lg-offset-2"></div>
                    @if (ViewBag.Admin == true)
                    {
                        <div class="col-lg-offset-1 col-lg-1 barreBouton">
                            <a asp-area="" asp-controller="Utilisateur" asp-action="ListeUtilisateurs">Utilisateurs</a>
                        </div>
                        <div class="col-lg-1 barreBouton">
                            <a asp-area="" asp-controller="Recette" asp-action="AjouterCategorie">Catégories</a>
                        </div>
                    }

                    @if (ViewBag.Logged == true)
                    {
                        <div class="col-lg-2 barreBouton">
                            <a asp-area="" asp-controller="Recette" asp-action="ListeRecette">Liste des Recettes</a>
                        </div>
                        <div class="col-lg-2 barreBouton">
                            <a asp-area="" asp-controller="Recette" asp-action="AjouterRecette">Ajouter une Recettes</a>
                        </div>

                        <div class="col-lg-offset-2 col-lg-3">
                            <span class="UserInfo">@ViewBag.nom - </span><a asp-controller="Utilisateur" asp-action="LogOut"> Se Déconnecter</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-offset-10 col-lg-2">
                            <a asp-area="" asp-controller="Utilisateur" asp-action="Login">Se connecter</a>
                        </div>

                    }
                </div>
            </div>
        </nav>
    </header>
    <section class="container">
        @RenderBody()
    </section>
    <footer>
        FicheRecetteV1.0a © Anthony Di Persio - Mars 2019
    </footer>
</body>
</html>
